<template>
     <div>
          <h2>Corona Cases by Country</h2>
          <div
               class="chart__wrapper"
          >
               <bar-chart
                    v-if="covidDataLoaded"
                    class="chart__bars"
                    :chart-data="datacollection"
                    :options="options"
               />
          </div>
     </div>
</template>

<script src="./Chart.view.js"/>
<style scoped lang="scss" src="./Chart.view.scss"/>
