<template>
     <div>
          <h2>Corona Cases by Country</h2>
          <b-table
               striped
               sticky-header="75vh"
               hover
               sort-icon-left
               :items="filteredCovidResults"
               :fields="fields"
          />
     </div>
</template>

<script src="./Table.view.js"/>
