@import '../../styles/global-variables';
@import '../../styles/bootstrap-variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.filterField {
    &__base {
        padding-top: 0.5em;
    }
}