<template>
     <div class="filterField__base">
          <b-form-input
               v-model="innerValue"
               placeholder="Search"
               debounce="200"
               list="input-list"
               @update="onTextFieldInput"
          />
          <b-form-datalist
               id="input-list"
               :options="countries"
          />
     </div>
</template>

<script src="./FilterField.js"/>
<style lang="scss" src="./FilterField.scss"/>
