<template>
     <nav class="navbar__base">
          <router-link to="/">
               Country List
          </router-link>
          <router-link to="/chart/">
               Country Chart
          </router-link>
     </nav>
</template>

<style lang="scss" src="./NavBar.scss"/>
