@import '../../styles/global-variables';
@import '../../styles/bootstrap-variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.navbar {
    &__base {
        display: flex;

        @include media-breakpoint-up(md) {
            flex-direction: column;
        }

        & a {
            font-weight: bold;
            color: #2c3e50;

            margin-bottom: 0;
            margin-right: 1em;

            @include media-breakpoint-up(md) {
                margin-bottom: 10px;
            }

            &:hover {
                text-decoration: none;
            }
        
            &.router-link-exact-active {
                color: $c-primary;
            }
        }
    }
}