<template>
     <header class="header__base">
          <div class="container">
               <div class="row">
                    <div class="col header__wrapper">
                         <h1 class="header__title">
                              Coronavirus Status
                         </h1>
                    </div>
               </div>
          </div>
     </header>
</template>

<style lang="scss" src="./AppHeader.scss"/>
