@import '../../styles/global-variables';
@import '../../styles/bootstrap-variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.header {
    &__base {
        background-color: $c-primary;
        margin-bottom: 0.5em;
    }

    &__title {
        font-size: 1.5em;
        font-weight: 300;

        padding: 0.66em 0;
        margin: 0;

        @include media-breakpoint-up(md) {
            font-size: 3em;
            padding: 0.33em 0;
        }
    }
}