@import './styles/global-variables';
@import './styles/bootstrap-variables';
@import './../node_modules/bootstrap/scss/bootstrap';

.sidebar {
    border-bottom: solid 1px $c-primary;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

    @include media-breakpoint-up(md) {
        border-bottom: none;
        border-right: solid 1px $c-primary;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}