<template>
     <div id="app">
          <AppHeader />
          <div class="container">
               <div class="row">
                    <div class="sidebar col-12 col-md-4 col-lg-3">
                         <NavBar />
                         <FilterField />
                    </div>
                    <div class="col">
                         <p>Corona Case Visualisation</p>
                         <router-view />
                    </div>
               </div>
          </div>
     </div>
</template>

<script src="./App.js"/>
<style lang="scss" src="./App.scss"/>
